[submodule "libs/noizu_labs_entities"]
	path = apps/noizu_labs_entities
	url = git@github.com:noizu-labs-scaffolding/entities.git
[submodule "libs/noizu_labs_services"]
	path = apps/noizu_labs_services
	url = git@github.com:noizu-labs-scaffolding/services.git
[submodule "libs/noizu_labs_clusters"]
	path = apps/noizu_labs_clusters
	url = git@github.com:noizu-labs-scaffolding/clusters.git
[submodule "libs/noizu_labs_testing"]
	path = apps/noizu_labs_testing
	url = git@github.com:noizu-labs-scaffolding/testing.git
[submodule "libs/elixir-openai"]
	path = apps/noizu_labs_open_ai
	url = git@github.com:noizu-labs/elixir-openai.git
[submodule "apps/entities/ecto_entities"]
	path = apps/entities/ecto_entities
	url = git@github.com:noizu-labs-scaffolding/ecto_entities.git
[submodule "apps/entities/redis_entities"]
	path = apps/entities/redis_entities
	url = git@github.com:noizu-labs-scaffolding/redis_entities.git
[submodule "apps/entities/amnesia_entities"]
	path = apps/entities/amnesia_entities
	url = git@github.com:noizu-labs-scaffolding/amnesia_entities.git
[submodule "apps/entities/mnesia_entities"]
	path = apps/entities/mnesia_entities
	url = git@github.com:noizu-labs-scaffolding/mnesia_entities.git
[submodule "apps/core"]
	path = apps/core
	url = git@github.com:noizu-labs-scaffolding/core.git
