[submodule "libs/noizu_labs_erp"]
	path = apps/noizu_labs_erp
	url = git@github.com:noizu-labs-scaffolding/erp.git
[submodule "libs/noizu_labs_contexts"]
	path = apps/noizu_labs_contexts
	url = git@github.com:noizu-labs-scaffolding/contexts.git
[submodule "libs/noizu_labs_entities"]
	path = apps/noizu_labs_entities
	url = git@github.com:noizu-labs-scaffolding/entities.git
[submodule "libs/noizu_labs_services"]
	path = apps/noizu_labs_services
	url = git@github.com:noizu-labs-scaffolding/services.git
[submodule "libs/noizu_labs_clusters"]
	path = apps/noizu_labs_clusters
	url = git@github.com:noizu-labs-scaffolding/clusters.git
[submodule "libs/noizu_labs_testing"]
	path = apps/noizu_labs_testing
	url = git@github.com:noizu-labs-scaffolding/testing.git
[submodule "libs/elixir-openai"]
	path = apps/noizu_labs_open_ai
	url = git@github.com:noizu-labs/elixir-openai.git
